.svn/*
*/.svn/*
.svn
.idea
.idea/*
*/.idea/*
*/templates_c/*
templates_c/**
templates_c
*/_TRASH/*
_TRASH/**
_TRASH
*/img_cache/*
img_cache/**
img_cache
*/upload/*
upload/**
testq.php
protocol.php
classes/Gearman_Db.php
*/Gearman_Db.php/*
Gearman_Db.php/**
Gearman_Db.php